Service References/admin/webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deobiet" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartTerminal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountPair" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartTerminalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartTerminalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopTerminal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountPair" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopTerminalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StopTerminalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllowRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ibetAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sbobetAccount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllowRunResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AllowRunResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="a2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="a3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="a4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="a5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="a6" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="a7" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="a8" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="a9" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="a10" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="a11" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="a12" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="a13" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="a14" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="a15" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="a16" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTransactionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="StartTerminalSoapIn">
    <wsdl:part name="parameters" element="tns:StartTerminal" />
  </wsdl:message>
  <wsdl:message name="StartTerminalSoapOut">
    <wsdl:part name="parameters" element="tns:StartTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="StopTerminalSoapIn">
    <wsdl:part name="parameters" element="tns:StopTerminal" />
  </wsdl:message>
  <wsdl:message name="StopTerminalSoapOut">
    <wsdl:part name="parameters" element="tns:StopTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="AllowRunSoapIn">
    <wsdl:part name="parameters" element="tns:AllowRun" />
  </wsdl:message>
  <wsdl:message name="AllowRunSoapOut">
    <wsdl:part name="parameters" element="tns:AllowRunResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="AddTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:AddTransaction" />
  </wsdl:message>
  <wsdl:message name="AddTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:AddTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartTerminal">
      <wsdl:input message="tns:StartTerminalSoapIn" />
      <wsdl:output message="tns:StartTerminalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StopTerminal">
      <wsdl:input message="tns:StopTerminalSoapIn" />
      <wsdl:output message="tns:StopTerminalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllowRun">
      <wsdl:input message="tns:AllowRunSoapIn" />
      <wsdl:output message="tns:AllowRunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <wsdl:input message="tns:AddTransactionSoapIn" />
      <wsdl:output message="tns:AddTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTerminal">
      <soap:operation soapAction="http://tempuri.org/StartTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTerminal">
      <soap:operation soapAction="http://tempuri.org/StopTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllowRun">
      <soap:operation soapAction="http://tempuri.org/AllowRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <soap:operation soapAction="http://tempuri.org/AddTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTerminal">
      <soap12:operation soapAction="http://tempuri.org/StartTerminal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTerminal">
      <soap12:operation soapAction="http://tempuri.org/StopTerminal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllowRun">
      <soap12:operation soapAction="http://tempuri.org/AllowRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <soap12:operation soapAction="http://tempuri.org/AddTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://apbenvironment.com/webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://apbenvironment.com/webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>